<p id="notice"><%= notice %></p>

<div class="jumbotron">
    <h1>The Newspaper</h1>
    <p>A little page to read all the important news.</p>
</div>

<a href='/index' button type="button" class="btn btn-lg btn-info " > admin</a>
